# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
tmp
*.tsbuildinfo
next-env.d.ts
.turbo
.next
.terraform
build
dist
coverage
.type-coverage
.swc
generated
.vercel

# Dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea

# Misc
dbml
*.log
.node-version
*.pem
old
.sentryclirc
*.db
*.db-journal
.tool-versions

# System Files
.DS_Store
Thumbs.db

# Env
!.env.*
.env
.env*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache
.venv

.nvmrc
.vscode/settings.json
TODO.md
